body{
    background-color: #2D2013;
    color: #ffffff;
}
#mealItems{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin:0 auto;
    padding: 20px;
}
.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 20px;
    padding: 9px 20px;
}
.meals{
    margin: 0 auto;
}
.mealName{
    font-size: 22px;
    text-align: center;
    color: blueviolet;
}
#mealItems img{
    width: 300px;
}
#header{
text-align: center;
font-size: 32px;
padding: 20px;

}
#show-details img{
width: 400px;
}
#show-details{
    justify-content: center;
}

#show-details ul li{
    list-style: none;
    
    }
